.steps-content {
  padding-top: 2rem;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.ant-form-item-label {
  font-size: 16px;
}

.ant-form {
  min-width: 500px;
}

.ant-row {
  min-width: 100%;
  margin-left: 40px;
  margin-bottom: 20px;
}

.ant-form-item-control-input-content {
  display: flex;
  justify-content: space-between;
}

.task-name {
  margin-bottom: 1rem;
}
.warning {
  color: #ff4d4f;
}

.ant-space-align-center {
  margin-bottom: 1rem;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}
